.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

/* Título */
h1 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
}

/* Inputs */
form input {
    border: none;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    outline: none;
}

form input:focus {
    background: #e0f7fa; 
}

/* Remover os controles numéricos em inputs de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Para navegadores modernos */
}


/* Botão de envio */
form button {
    border-radius: 20px;
    background: linear-gradient(45deg, #6dd5ed, #2193b0); /* Gradiente azul */
    color: white;
    height: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, opacity 0.3s;
}

form button:hover {
    opacity: 0.9;
    transform: translateY(-2px); /* Efeito de "levantar" ao passar o mouse */
}

/* Cartão de usuário */
.card-users {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Texto do cartão */
.card-users p {
    color: #333;
    font-weight: bold;
}

.card-users p span {
    font-weight: normal;
}

/* Botão do cartão de usuário */
.card-users button {
    margin-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2193b0;
    font-size: 16px;
    transition: opacity 0.3s;
}

.card-users button:hover {
    opacity: 0.6;
}